.parent {
  //   background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}
.child {
  height: 100px;
  width: calc(20% - 10px);
  background-color: blueviolet;
  //   margin: 8px;
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .child {
    width: calc(25% - 10px);
  }
}
@media screen and (max-width: 660px) {
  .child {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 435px) {
  .child {
    width: calc(100% - 10px);
  }
}

.circle {
  height: 100px;
  width: 100px;
  border: 10px solid blue;
  border-radius: 50%;
  border-top-color: red;
  animation: spin 1s linear infinite;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}
@keyframes spin {
  from {
    // border-color: yellow;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    // border-color: green;
  }
}
