<nav class="navbar nav-pills navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" appColorChange>Angular Practices</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/crud" routerLinkActive="active">CRUD</a>
                <a class="nav-link" routerLink="/signals" routerLinkActive="active">Signals</a>
                <a class="nav-link" routerLink="/task" routerLinkActive="active">Task</a>
                <a class="nav-link" routerLink="/rxjs" routerLinkActive="active">RxJs</a>
                <a class="nav-link" routerLink="/html" routerLinkActive="active">HTML&CSS</a>
                <a class="nav-link" routerLink="/form" routerLinkActive="active">form</a>
                <a class="nav-link" routerLink="/table-list" routerLinkActive="active">table list</a>
            </div>
        </div>
    </div>
</nav>